---
import PageLayout from '@/layouts/BaseLayout.astro'
import { Image } from 'astro:assets'

import { Quote } from '@/components/advanced'
import PostPreview from '@/components/blog/PostPreview.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import { Button, Card, Label } from '@/components/user'
import { getAllCollections, sortMDByDate } from '@/utils'
import avatar from '@/assets/avatar.png'
import { siteConfig } from '@/site-config'

const languages = ['C', 'C++', 'Python', 'Assembly', 'Shell']
const ctf = ['RE', 'Pwn', 'Forensics']
const linguistics = ['Malay', 'Chinese', 'English']
const MAX_POSTS = 6
const allPosts = await getAllCollections()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB966'>
  <div class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{siteConfig.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Malaysia'>
            <svg class='size-5' slot='icon'>
              <use href='/icons/social.svg#mingcute-location-line'></use>
            </svg>
          </Label>
          <Label
            title='Github'
            as='a'
            href='https://github.com/gr1d-init'
            target='_blank'
          >
            <svg class='size-5' slot='icon'>
              <use href='/icons/social.svg#mingcute-github-line'></use>
            </svg>
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>🚩CTF Player / ⚡EE Student</p>
        <p class='text-muted-foreground'>
          Currently pursuing my Bachelor's Degree in Electrical Engineering.
        </p>
        <p class='text-muted-foreground'>
          Current active CTF player in Reverse Engineering and Forensics, Learning Pwn :)
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      
      <Section title='Education'>
        <Card
          as='a'
          heading='University of Technology Malaysia (UTM)'
          subheading='Bachelor of Electrical Engineering with Honours'
          date='September 2024 - Present'
          href='https://www.utm.my/'
        >
        <img class="absolute end-0 z-0 m-0 -my-3 h-full w-1/3 object-cover opacity-40" src="/images/utmlogo.svg">
          {
          <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            ⚓ Naval Officer Cadet
          </li>
          <li>
            🚩 CTF Player
          </li>
        </ul>
          }
        </Card>
      </Section>
      
      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='CTFs' skills={ctf} />
        <SkillLayout title='Linguistics' skills={linguistics} />
      </Section>
    </div>
  </div>

  <Quote class='mt-12' />
</PageLayout>
